{
    "env": {
        "production": {
            "presets": [
                ["@babel/preset-env", {
                    "targets": {
                        "browsers": ["last 2 version", "> 1%"]
                    },
                    "modules": false,
                    "debug": true
                }]
            ],
            "plugins": [
                "@babel/transform-runtime",
                "@babel/plugin-transform-spread",
                "@babel/plugin-syntax-dynamic-import",
                "transform-vue-jsx"
            ]
        },
        "development": {
            "presets": [
                ["@babel/preset-env", {
                    "targets": {
                        "chrome": 52
                    },
                    "modules": false,
                    "debug": true
                }]
            ],
            "plugins": [
                "@babel/transform-runtime",
                "@babel/plugin-transform-spread",
                "@babel/plugin-syntax-dynamic-import",
                "transform-vue-jsx"
            ]
        }
    }
}