<!doctype html>
<!-- [if IE]><html class="ie"><![endif]-->
<html lang="zh-cmn-Hans">
<head>
    <title>fakerli的博客</title>
    <meta charset="utf-8">
    <meta name="google" content="notranslate">
    <meta name="description" content="学习是为了探索这个世界的本质">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="author" type="text/plain" href="">
    <link href="/static/editor.md/css/editormd.css" rel="stylesheet"/>
</head>
<body>
    <!--[if lte IE 9]><span class="global-warning active">本网站不支持IE系列浏览器, 请使用 <a target="_blank" href="http://sw.bos.baidu.com/sw-search-sp/software/fc14f1545b7/ChromeStandalone_51.0.2704.106_Setup.exe">Chrome</a> , <a href="http://www.firefox.com.cn/download/" target="_blank">Firefox</a>, <a href="http://chrome.360.cn/" target="_blank">360浏览器</a> 等非IE浏览器访问本站!</span><![endif]-->
    <div id="app"></div>
    <script src="/static/jquery/3.3.1/jquery.min.js"></script>
    <script src="/static/three.js/89/three.min.js"></script>
    <script src="/static/three/renderers/Projector.js"></script>
    <script src="/static/three/renderers/CanvasRenderer.js"></script>
    <script src="/static/jquery.timers.js"></script>
    <script src="/static/editor.md/editormd.min.js"></script>
</body>
</html>
