<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="shortcut icon" href="/favicon.ico">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no"/>
    <meta name="Keywords" content="fakerli, blog"/>
    <meta name="description" content="{{ description }}">
    <link type="text/css" rel="stylesheet" href="/static/editor.md/css/editormd.preview.css" />
    <link type="text/css" rel="stylesheet" href="https://cdn.bootcss.com/KaTeX/0.8.3/katex.min.css" integrity="sha384-B41nY7vEWuDrE9Mr+J2nBL0Liu+nl/rBXTdpQal730oTHdlrlXHzYMOhDU60cwde" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
</head>
<body>
    <!--vue-ssr-outlet-->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js" integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
</body>
</html>
